<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('navbar') %>
        <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
            <p class="fw-bold">
                <%= data.username %>
            </p>
            <p class="fw-bold">
                <%= data.email %>
            </p>
            <p class="fw-bold">
              ***********
            </p>
            <p class="fw-bold">
                <%= data.nom %>
            </p>
            <p class="fw-bold">
                <%= data.prenom %>
            </p>
            <a class="btn btn-warning" href="/modify/<%= data._id %>" role="button">Modifier</a>
        </div>
</body>

</html>